---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623693694,"sunrise":1623670286,"sunset":1623724156,"temp":88.32,"feels_like":87.08,"pressure":1010,"humidity":35,"dew_point":57.22,"uvi":11.16,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":337,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623693600,"temp":88.32,"feels_like":87.08,"pressure":1010,"humidity":35,"dew_point":57.22,"uvi":11.16,"clouds":0,"visibility":10000,"wind_speed":6.2,"wind_deg":90,"wind_gust":5.35,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623697200,"temp":89.91,"feels_like":87.82,"pressure":1010,"humidity":30,"dew_point":54.34,"uvi":11.98,"clouds":0,"visibility":10000,"wind_speed":7.76,"wind_deg":73,"wind_gust":6.49,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623700800,"temp":91.98,"feels_like":88.93,"pressure":1010,"humidity":24,"dew_point":50.05,"uvi":11.24,"clouds":0,"visibility":10000,"wind_speed":10.18,"wind_deg":70,"wind_gust":9.24,"weather":[{"id":800,"main[...]
