---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623718985,"sunrise":1623670286,"sunset":1623724156,"temp":92.7,"feels_like":88.61,"pressure":1011,"humidity":17,"dew_point":41.54,"uvi":0.56,"clouds":1,"visibility":10000,"wind_speed":1.99,"wind_deg":24,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623718800,"temp":92.7,"feels_like":88.61,"pressure":1011,"humidity":17,"dew_point":41.54,"uvi":0.56,"clouds":1,"visibility":10000,"wind_speed":7.81,"wind_deg":112,"wind_gust":8.57,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623722400,"temp":92.16,"feels_like":88.2,"pressure":1011,"humidity":18,"dew_point":42.58,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":7.38,"wind_deg":150,"wind_gust":14.83,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623726000,"temp":90.09,"feels_like":86.52,"pressure":1011,"humidity":21,"dew_point":44.92,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.84,"wind_deg":160,"wind_gust":21.47,"weather":[{"id":800,"main":"Cle[...]
