---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623776362,"sunrise":1623756687,"sunset":1623810579,"temp":89.51,"feels_like":86.81,"pressure":1011,"humidity":27,"dew_point":51.13,"uvi":9.02,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":19,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623772800,"temp":89.19,"feels_like":86.16,"pressure":1011,"humidity":25,"dew_point":48.79,"uvi":6.35,"clouds":0,"visibility":10000,"wind_speed":2.71,"wind_deg":135,"wind_gust":2.64,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623776400,"temp":89.51,"feels_like":86.81,"pressure":1011,"humidity":27,"dew_point":51.13,"uvi":9.02,"clouds":0,"visibility":10000,"wind_speed":4.65,"wind_deg":85,"wind_gust":3.38,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623780000,"temp":90.7,"feels_like":87.55,"pressure":1011,"humidity":24,"dew_point":48.97,"uvi":11.01,"clouds":0,"visibility":10000,"wind_speed":7.54,"wind_deg":74,"wind_gust":6.46,"weather":[{"id":800,"main":"[...]
