---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623867469,"sunrise":1623843090,"sunset":1623897001,"temp":95.97,"feels_like":91.45,"pressure":1011,"humidity":14,"dew_point":39.15,"uvi":10.65,"clouds":8,"visibility":10000,"wind_speed":3,"wind_deg":337,"wind_gust":7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623866400,"temp":95.97,"feels_like":91.45,"pressure":1011,"humidity":14,"dew_point":39.15,"uvi":10.65,"clouds":8,"visibility":10000,"wind_speed":8.41,"wind_deg":47,"wind_gust":12.19,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623870000,"temp":96.73,"feels_like":91.94,"pressure":1011,"humidity":12,"dew_point":35.82,"uvi":11.07,"clouds":10,"visibility":10000,"wind_speed":9.64,"wind_deg":56,"wind_gust":14.23,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623873600,"temp":96.69,"feels_like":91.9,"pressure":1011,"humidity":12,"dew_point":35.8,"uvi":10.39,"clouds":27,"visibility":10000,"wind_speed":18.28,"wind_deg":355,"wind_gust":12.37,"weather":[{"id":802,"m[...]
