---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1627429104,"sunrise":1627386877,"sunset":1627438682,"temp":93.49,"feels_like":90.01,"pressure":1010,"humidity":21,"dew_point":47.73,"uvi":1.31,"clouds":4,"visibility":10000,"wind_speed":1.99,"wind_deg":95,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1627426800,"temp":93.9,"feels_like":90.28,"pressure":1010,"humidity":20,"dew_point":46.78,"uvi":3.09,"clouds":4,"visibility":10000,"wind_speed":8.84,"wind_deg":123,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1627430400,"temp":93.49,"feels_like":90.01,"pressure":1010,"humidity":21,"dew_point":47.73,"uvi":1.31,"clouds":4,"visibility":10000,"wind_speed":14.56,"wind_deg":121,"wind_gust":8.93,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1627434000,"temp":93.11,"feels_like":89.44,"pressure":1010,"humidity":20,"dew_point":46.13,"uvi":0.37,"clouds":5,"visibility":10000,"wind_speed":15.61,"wind_deg":130,"wind_gust":12.37,"weather":[{"id":800,"ma[...]
