---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=denver,co&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 14 Jun 2021 17:57:21 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1347033901"}]}]}'
  recorded_at: Mon, 14 Jun 2021 17:57:21 GMT
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 1.140 TT 0 1.163"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 35992,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8503198W",
                    "text": [
                        "/works/OL8503198W",
                        "Denver, Co",
                        "OL10909613M",
                        "9780762507849",
                        "0762507845",
                        "Universal Map Enterprises",
                        "OL2843451A",
                        "Universal Map"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "first_publish_year": 2001,
                    "isbn": [
                        "9780762507849",
                        "0762507845"
                    ],
                    "last_modified_i": 1338943517,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1700720295581581317,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL8808821W",
                    "text": [
                        "/works/OL8808821W",
                        "University of Denver Co 2007",
                        "OL8537031M",
                        "150368610",
                        "1427401683",
                        "9781427401687",
                        "College Prowler",
                        "OL3010394A",
                        "College Prowler"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL8537031M",
                        "/works/OL8808821W",
                        "/authors/OL3010394A"
                    ],
                    "title": "University of Denver Co 2007",
                    "title_suggest": "University of Denver Co 2007",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL8537031M"
                    ],
                    "publish_date": [
                        "July 1, 2006"
                    ],
                    "publish_year": [
                        2006
                    ],
                    "first_publish_year": 2006,
                    "oclc": [
                        "150368610"
                    ],
                    "isbn": [
                        "1427401683",
                        "9781427401687"
                    ],
                    "last_modified_i": 1304171421,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL8537031M",
                    "cover_i": 1847337,
                    "publisher": [
                        "College Prowler"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL3010394A"
                    ],
                    "author_name": [
                        "College Prowler"
                    ],
                    "id_goodreads": [
                        "2985742"
                    ],
                    "publisher_facet": [
                        "College Prowler"
                    ],
                    "_version_": 1700720648496611328,
                    "author_facet": [
                        "OL3010394A College Prowler"
                    ]
                },
                {
                    "key": "/works/OL4437736W",
                    "text": [
                        "/works/OL4437736W",
       [...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623693398,"sunrise":1623670286,"sunset":1623724156,"temp":88.07,"feels_like":86.77,"pressure":1013,"humidity":35,"dew_point":57,"uvi":11.16,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":333,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623690000,"temp":88.2,"feels_like":86.31,"pressure":1013,"humidity":32,"dew_point":54.64,"uvi":9.15,"clouds":0,"visibility":10000,"wind_speed":3.87,"wind_deg":108,"wind_gust":3.56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623693600,"temp":88.07,"feels_like":86.77,"pressure":1013,"humidity":35,"dew_point":57,"uvi":11.16,"clouds":0,"visibility":10000,"wind_speed":6.2,"wind_deg":90,"wind_gust":5.35,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623697200,"temp":89.71,"feels_like":87.58,"pressure":1012,"humidity":30,"dew_point":54.18,"uvi":11.98,"clouds":0,"visibility":10000,"wind_speed":7.76,"wind_deg":73,"wind_gust":6.49,"weather":[{"id":800,"main":"Cl[...]
[...]
